<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="SimplePopupMenu.contribution1">
         <menu
               label="Walkmod"
               path="additions"
               id="SimplePopupMenu.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
          <action
               label="walkmod install"
               class="org.walkmod.eclipse.popup.actions.InstallAction"
               menubarPath="SimplePopupMenu.menu1/group1"
               enablesFor="1"
               id="SimplePopupMenu.installAction"
               icon="icons/hoja.png">
         </action>
          <action
               label="walkmod check"
               class="org.walkmod.eclipse.popup.actions.CheckAction"
               menubarPath="SimplePopupMenu.menu1/group1"
               enablesFor="1"
               id="SimplePopupMenu.checkAction"
               icon="icons/hoja.png">
         </action> 
         <action
               label="walkmod apply"
               class="org.walkmod.eclipse.popup.actions.ApplyAction"
               menubarPath="SimplePopupMenu.menu1/group1"
               enablesFor="1"
               id="SimplePopupMenu.applyAction"
               icon="icons/hoja.png">
         </action>
      </objectContribution>
   </extension>

</plugin>
